@charset "iso-8859-1";
/* CSS Document */

table
{
	background-color: transparent;
	border:2px solid #000;
	border-collapse: collapse;
}
table tbody
{
	
}
table tbody tr th
{
width: 2em;
height: 2em;
border-radius: 20px
}
table tbody tr td
{
	height:50px;
	width:50px;
	border:1px solid #000;
}
